
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');


body {
    font-family: 'Montserrat','serif', 'times';
    margin: 0 auto;
}

.local main {
    max-width: 980px;
    margin: 0 auto;
}   

header{
    margin: 0 auto;
}

.top-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 15px;
        
}

.hamburger{
    font-size: 32px;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.top-container h1{
    padding: 20px;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 1.7em;
}
.top-container nav{
    width: 75%;
    height: 100%;
    background-color: rgb(61, 61, 61);
    position: fixed;
    top: 0;
    left: -85%;
    box-shadow: rgba(110, 110, 110, 0.664) 1px 0px 5px;
    transition: 1s left ease;
}

.show-nav{
    left: 0 !important;
}

.top-container nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}

.top-container nav ul li{
    list-style-type: none;
    padding: 15px 20px;
}
.top-container nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255); 
}

.top-container nav ul li a:hover {
   color: rgb(255 212 0);  
}

.title{    
    text-align: center;
    display: flex;
    flex-direction: row ; 
    background-size: cover;
    background-position: center;
    background-image: url(./assets/img/burgers-1839090.jpg);
    height: 200px;
}
          
.title h2{      
    display: inline-flex;
    margin: 0 auto;
    align-items: center;
    color: rgb(255 212 0);
}

main h2{
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.after-title{
    margin:0 auto;
    max-width: 980px;
}

.after-title p{
    padding: 15px;
   
    font-size: 1.2em;
    text-align: center;
}

.before{
    background-color: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    margin-top: 60px;
}

.blocks-section{
   margin: 0 auto;
   padding: 80px;
   max-width: 980px;
  
}

.blocks-section div{
    flex-wrap: wrap;
    padding: 20px;
}

.blocks-section div p{
    padding: 30px;
    display: contents;
}

.blocks-section div img{
    max-width: 300px;
    margin: 0 auto;
}

footer{
    background-color: black;
    color: blanchedalmond;
    padding: 10px 50px 10px 50px;
    margin: 0 auto;
    text-align: center;
}

footer p{
    padding: 20px;
    margin: 0 auto;
}

.cabecalho-2{
    background-color: rgba(51, 51, 51, 0.493);
    margin: 0 auto;
}

.section-1{
    background-color: black;
    color: rgb(255, 255, 255);
    max-width: 980px;
    margin: 0 auto ;
    padding: 80px;
    margin: 40px auto;
}

 .section-1 span{
    float: right;
    
}
.section-1 p{
    padding-bottom: 50px;
    margin: 0 auto;
    display: contents;
    
}
.section-1 h2{
    background-color: transparent;
}
.local{
    max-width: 500px;
    margin: 40px auto;
    align-items: center;
    background-color: black;
    color: blanchedalmond;  
}

.local div{
    text-align: center;
    padding: 25px;
}

.local div  p{
    margin: 0px;
}

.local iframe{
    max-width: 350px;
    margin: 0 auto;
}

 @media screen and (min-width: 600px){
    .top-container nav{
        width: 60%;
        height: 100%;
        background-color:transparent;
        position: static;
        box-shadow:none;
        font-size: 1.3em;
        }
    .top-container nav ul{
        flex-direction: row;
        padding-inline-start: 0px;
        }
    .top-container nav ul li{
        padding: 0;
        }
    .top-container nav ul li a{
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
        color: rgb(255, 255, 255);
        }
        
    .top-container nav ul li a:hover {
        color: rgb(255 212 0);  
        }
    .hamburger{
        display: none;
        }
        
}